parameters:
    bootstrapFiles:
        - phpstan-autoload.php
    level: 3
    fileExtensions:
        - php
        - phtml
    paths:
        - ./Packetery/Checkout
    ignoreErrors:
        - '#Call to an undefined method Magento\\(.*)+\(\)\.#' # It is typical for Magento related code to use PHP magic.
        - '#Call to an undefined static method Magento\\(.*)+\(\)\.#'
