.admin__menu {
    .item-packetery.level-0 {
        > a:before {
            content: '';
            width: 78px;
            height: 22px;
            background: url('../images/logo-packeta-white.svg') no-repeat center;
            background-size: contain;
        }
    }
}
